@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500,500italic,700,700italic);

body {
  font-family: "Source Sans Pro";
  font-size: 120%;
  line-height: 120%;
  background: #e8eeff;
}

.content {
  max-width: 600px;
  margin: auto;
}

h1, h2 {
  color: #263;
}

h1 {
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 4px solid #c6ccdd;
}

h2 {
  padding-bottom: 1px;
  border-bottom: 2px solid #c6ccdd;
}

pre, code {
  font-family: "Source Code Pro";
  font-size: 75%;
  background: #fff;
  border: 1px solid #c6ccdd;
  border-radius: 4px;
}

pre code {
  font-size: 100%;
  border: none;
  border-radius: none;
}

pre {
  white-space: pre-wrap;
  padding-left: 5px;
}

pre .muted {
  opacity: 0.4;
}

code {
  padding: 2px;
  margin: -1px;
}

em code {
  font-style: normal;
}

.footnotes {
  border-top: 3px solid #c6ccdd;
  font-size: 80%;
}
